---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const articles = (await getCollection("articles")).sort(
	(a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf()
);
---

<PageLayout title="Thilo Hohlt" description="The personal website of Thilo Hohlt. I write articles, mainly about topics which have to do with technology.">
	<h1>Thilo Hohlt</h1>
	<h2>Articles</h2>
	<ul>
		{articles.map(article => (
			<li>
				<a href={`/articles/${article.slug}`}>{article.data.title}</a>
				<FormattedDate date={article.data.publicationDate} />
			</li>
		))}
	</ul>
</PageLayout>
