---
import "../styles/global.css";
const { title, description } = Astro.props;
const currentYear = new Date().getFullYear();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff">
    <meta name="author" content="Thilo Hohlt" />
    <meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<a href="/" aria-label="Thilo Hohlt homepage">
				<svg version="1.1" width="32" height="32" xmlns="http://www.w3.org/2000/svg">
					<title>Thilo Hohlt</title>
				  <rect width="100%" height="100%" fill="#2563eb" rx="4" />
				  <text x="16" y="22" font-size="16" font-family="Verdana, Arial, Helvetica, sans-serif" font-weight="bold" text-anchor="middle" fill="white">TH</text>
				</svg>
			</a>
		</header>
    <main>
      <slot />
    </main>
		<footer>
			<p>© 2023 All Rights Reserved.</p>
			<a href="https://github.com/thiloho/thiloho.github.io">Website source code</a>
		</footer>
	</body>
</html>
